<%= form_for post do |f|%>

  <div class ="form-group">
    <label class="label">Title</label>
    <%=f.text_field :title,class:"form-control" %>
  </div>
  <div class ="form-group">
    <label class ="label">Content</label>
    <%= f.text_area :content,class:"form-control" %>
  </div>
  <div class ="form-group">
    <label class ="label">Category</label>
    <%= f.select :post_category_id,PostCategory.all.collect {|p| [p.name, p.id]},class:"form-control" %>
  </div>
  <%=f.submit "Submit",class:"btn btn-primary" %>
<%end %>
